@CHARSET "utf-8";

/* GENERAL DECLARATIONS */
* {
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4; h5, h6 {
	font-family: Impact, Charcoal, sans-serif;
	font-weight: bold;
	font-stretch: condensed;
}

/* SOME DEFAULTS FROM  W3C */
h1 { font-size: 2em;	margin: 0.67em 0 }
h2 { font-size: 1.5em;	margin: 0.75em 0 }
h3 { font-size: 1.17em;	margin: 0.83em 0 }
h4 { font-size: 1.em;	margin: 1.12em 0 }
h5 { font-size: .83em;	margin:  1.5em 0 }
h6 { font-size: .75em;	margin: 1.67em 0 }

/* SECTIONS DECLARATIONS */
header {
	color: #786E64;
	background-color: #FFCD00;
	
	min-height: 5em;
	margin-bottom: 3em;
	padding: 1em;
}

#main {
	padding: 1em;
}

footer {
	color: #FFCD00;
	background-color: #786E64;
	
	text-align: right;
	margin-top: 3em;
	padding: 1em;
	
	bottom: 0;
}