@CHARSET "utf-8";

/* GENERAL DECLARATIONS */
* {
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Impact, Charcoal, sans-serif;
	font-stretch: condensed;
}

/* SOME DEFAULTS FROM  W3C */
h1 { font-size: 2em;	margin: 0.67em 0 }
h2 { font-size: 1.5em;	margin: 0.75em 0 }
h3 { font-size: 1.17em;	margin: 0.83em 0 }
h4 { font-size: 1.em;	margin: 1.12em 0 }
h5 { font-size: .83em;	margin:  1.5em 0 }
h6 { font-size: .75em;	margin: 1.67em 0 }


/* SECTIONS DECLARATIONS */

header {
	color: #786E64;
	background-color: #FFCD00;
	
	/* grey ligne on bottom of header */
	border-bottom: 0.15em solid #786E64;
	
	min-height: 5em;
	padding: 1em;
}

#main {
	padding: 2em 10em;
}

footer {
	color: #FFCD00;
	background-color: #786E64;
	
	/* yellow ligne on top of footer */
	border-top: 0.5em solid #FFCD00;
	
	text-align: right;
	margin-top: 3em;
	
	position: absolute;
	bottom: 0;
	width: 100%;
}
footer div {
	padding: 1em 1em;
}